<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.front" />

    <application
        android:name=".Model.MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Clothy"
        android:usesCleartextTraffic="true"
        tools:targetApi="tiramisu">
        <activity
            android:name=".ui.ChatRoom"
            android:exported="false" />
        <activity
            android:name=".ui.ContactUs"
            android:exported="false" />
        <activity
            android:name=".ui.TermsandConditions"
            android:exported="false" />
        <activity
            android:name=".ui.AllLockedActivity"
            android:exported="false" />
        <activity
            android:name=".ui.ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".ui.LockedActivity"
            android:exported="false" />
        <activity
            android:name=".ui.ResetPassword"
            android:exported="false" />
        <activity
            android:name=".ui.EditProfile"
            android:exported="false" />
        <activity
            android:name=".ui.OutfitDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.AddClothes"
            android:exported="false" />
        <activity
            android:name=".ui.OpenCamera"
            android:exported="false" />
        <activity
            android:name=".ui.ChatActivity"
            android:exported="false" />
        <activity
            android:name=".ui.SignupActivity"
            android:exported="false" />
        <activity
            android:name=".ui.SwipeActivity"
            android:exported="false" />
        <activity
            android:name=".ui.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>